.file-upload-area.border-dashed {
  border-style: dashed !important;
}

.option-item.bg-success {
  background-color: #198754 !important;
}

.option-item.bg-success .correct-indicator i {
  color: #fff;
}

.qcm-meta span {
  display: inline-block;
}

.qcm-actions button i {
  font-size: 1.2rem;
}
